.image-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.image-slider-container {
  position: relative;
  width: 100%;
}

.image-slider-container-box {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide-image-box {
  flex: 0 0 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-image-box img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.slide-box {
  flex: 0 0 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .slide-info {
    position: absolute;
    bottom: 150px;
    left: 10%;
    padding: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    transition: opacity 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.595);
    

    h2 {
      margin-bottom: 20px;
      color: white;
      font-size: clamp(1.5rem, 4vw, 2rem);
      font-weight: 300;
    }

    a {
      font-size: 40px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      color: white;
    }
  }

  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    
  }
}

.prev-btn,
.next-btn {
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5rem;
  color: white;
  border: none;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  background-color: transparent;
  border-radius: 5px;
}

.prev-btn {
  left: 0px;
}

.next-btn {
  right: 0px;
}

.prev-btn:hover,
.next-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}

.dot-container {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 0;
  height: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot:hover {
  background-color: #ffffff;
}

.dot.active {
  width: 100vw;
  backdrop-filter: blur(5px);
  background-color: bisque;
  animation: expand 10s infinite;
}

@keyframes expand {
  0% {
    width: 0;
  }

  100% {
    width: 100vw;
  }
}

/* =======================Vertical Slider====================================== */
/* .fullpage-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;


  .vertical-slider {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .vertical-slides {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .vertical-slide {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
  }
  .vertical-dots{
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    .vertical-dot {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.593);
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }
    .active{
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      border: 1px solid rgb(255, 255,255);
      position: relative;
    }
    .active::before{
      position: absolute;
      content: '';
      top: -7px;
      left: -7px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: transparent;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      border: 2px solid rgba(255, 255, 255, 0.553);
    }
  }
} */